# General settings (applied across all services)
NETWORK=signet

RUST_BACKTRACE=full
RUST_LOG=trace

# P2PoolV2 specific (see [StratumConfig] for more)

# Mujina specific
MUJINA_CPUMINER_DUTY=100
MUJINA_CPUMINER_THREADS=1
MUJINA_POOL_URL=p2poolv2:3333
MUJINA_USB_DISABLE=1

# Mujina rewrites
MUJINA_SCALE=1
MUJINA_RUST_LOG=trace

# BitcoinD specific
BTC_RPC_PORT=38332
BTC_P2P_PORT=38333
