# General settings (applied across all services)
NETWORK=signet

RUST_BACKTRACE=0
RUST_LOG=info

# P2PoolV2 specific (see [StratumConfig] for more)

# Mujina specific. Only available in "developer" profile in docker compose
# To run this, use docker compose --profile developer -d
MUJINA_CPUMINER_DUTY=100
MUJINA_CPUMINER_THREADS=1
MUJINA_POOL_URL=p2poolv2:3333
MUJINA_USB_DISABLE=1

# Mujina rewrites
MUJINA_SCALE=1
MUJINA_RUST_LOG=trace

# Bitcoind specific, defaults here to signet
BTC_RPC_PORT=38332
BTC_P2P_PORT=38333
