name: p2poolv2

services:
  bitcoind:
    container_name: bitcoind
    hostname: bitcoind-p2pool
    build:
      context: .
      dockerfile: Dockerfile.bitcoind
    volumes:
      - bitcoin_data:/data
    ports:
      - "${BTC_P2P_PORT:-38333}:${BTC_P2P_PORT:-38333}" # P2P port
      - "${BTC_RPC_PORT:-38332}:${BTC_RPC_PORT:-38332}" # RPC port
      - "28332:28332" # ZMQ port is always the same
    environment:
      - NETWORK=${NETWORK:-signet}
    command: -conf=/etc/bitcoin/bitcoin-${NETWORK:-signet}.conf -datadir=/data
    restart: unless-stopped
    networks:
      - p2pool_network
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"

  cpuminer:
    scale: 3
    build:
      context: .
      dockerfile: Dockerfile.cpuminer
    # depends_on:
    #   bitcoind:
    #     condition: service_healthy
    restart: unless-stopped
    env_file: .env
    environment:
      - BTC_RPC_HOST=${BTC_RPC_HOST:-bitcoind}
      - BTC_RPC_PASSWORD=${BTC_RPC_PASSWORD:-p2pool}
      - BTC_RPC_USER=${BTC_RPC_USER:-p2pool}
      - TARGET_HEIGHT=${TARGET_HEIGHT:-32}
      - BTC_P2P_PORT=${BTC_P2P_PORT:-38333}
      - BTC_NETWORK=${NETWORK:-signet}
    networks:
      - p2pool_network
    cpus: 1
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"

  p2pool:
    build:
      context: ..
      dockerfile: docker/Dockerfile.p2pool
    env_file: .env
    environment:
      - P2POOL_BITCOIN_NETWORK=${NETWORK:-signet}
      - P2POOL_BITCOIN_URL=bitcoind:${BTC_RPC_PORT:-38332}
      - P2POOL_STORE_PATH=/p2poolv2/data/${NETWORK:-signet}
      - P2POOL_CONFIG=/p2poolv2/config/config.toml
      - RUST_LOG=trace
    volumes:
      - p2pool_data:/p2poolv2
      - ../config-dev.toml:/p2poolv2/config/config.toml:ro
    restart: unless-stopped
    networks:
      - p2pool_network
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"

volumes:
  bitcoin_data:
  p2pool_data:

networks:
  p2pool_network:
    driver: bridge
