name: Rust CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - uses: Swatinem/rust-cache@v2

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy

  test:
    name: Rust Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install latest nextest release
        uses: taiki-e/install-action@nextest

      - uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: cargo nextest run

  # coverage:
  #   name: Code Coverage
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Install Rust toolchain
  #       uses: dtolnay/rust-toolchain@stable

  #     - name: Cache dependencies and tarpaulin
  #       id: cache-dependencies
  #       uses: actions/cache@v3
  #       with:
  #         path: |
  #           ~/.cargo/bin/
  #           ~/.cargo/registry/index/
  #           ~/.cargo/registry/cache/
  #           ~/.cargo/git/db/
  #           target/
  #         key: ${{ runner.os }}-cargo-tarpaulin-${{ hashFiles('**/Cargo.lock') }}
  #         restore-keys: |
  #           ${{ runner.os }}-cargo-tarpaulin-
  #           ${{ runner.os }}-cargo-

  #     - name: Check if cargo-tarpaulin is installed
  #       id: check-tarpaulin
  #       run: |
  #         if command -v cargo-tarpaulin >/dev/null 2>&1; then
  #           echo "tarpaulin_installed=true" >> $GITHUB_OUTPUT
  #         else
  #           echo "tarpaulin_installed=false" >> $GITHUB_OUTPUT
  #         fi

  #     - name: Install cargo-tarpaulin
  #       if: steps.check-tarpaulin.outputs.tarpaulin_installed != 'true'
  #       run: cargo install cargo-tarpaulin

  #     - name: Generate coverage report
  #       run: cargo tarpaulin --out xml --target-dir target --skip-clean --release

  #     - name: Upload coverage to Codecov
  #       uses: codecov/codecov-action@v4
  #       with:
  #         token: ${{ secrets.CODECOV_TOKEN }}
  #         files: cobertura.xml
  #         fail_ci_if_error: true

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        run: rustup update stable
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: Generate code coverage
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: lcov.info
          fail_ci_if_error: true
